/* navbar */
.img-logo{
    width: 200px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    
}

.img-carrusel{

/* Caluculo     100% de pantalla menos "el tamaño del "navbar"" */    
    height: calc(100vh - 76px); /* Para que no aparezca la scrollbar */

    
    object-fit: cover;
    object-position: center;
} 