/* px -> se puede aplicar 
            *fuente
            *tamaño del body 
*/

/* 
Abarca la mayoria de dispositivos para trabajar en la pagina
    1200px -Pc
    750px  -Tablet
    450px  -Celular

*/

/* 
UNIDADES DE MEDIDA RELATIVAS
    %
    Rem = tamaño de px de nuestro navegador (16px "aprox")
    Em tamaño de fuente del elemento padre

*/
*{
    box-sizing: border-box;
    margin: 0;
}


 


.forma{
    width: 100px;
    height: 100px;
    padding: 5px;
    text-align: center;
    margin: 10px auto 10px auto ;
    
}

.color{
    
    background-color: #3636b3;
    border: 2px solid #000000;
}

p{
    padding: 20px;
    border: 2px solid #000000;
    
}

a{
    width: 30%;
    margin: 5px auto 5px auto;
    padding: 10px;
    display: block;
    border: 1px solid #412d8a ;
    text-align: center;      
}


