body{
    background-color: #468a4a;
}

.texto1{
    color: #ffff;
    font-family: cursive;
}
.texto2{
    color: #fcc591;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .8em;
    font-weight: 700;
}

.texto3{
    color: #da881d;
    font-family: 'Courier New', Courier, monospace;
    font-size: .9em;
}

.texto4{
    color: #ffffff;

}
.texto5{
    color: #da881d;

}
/* .texto6{

}
.texto7{

}
.texto8{

 */