<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Tienda Alex</title>
</head>
<header>
    <div class="menu">
        <ul>
            <li>
                <a href="../index.html">Home</a>

            </li>
            <li>
                <a href="#quienes_somos">Quienes somos</a>

            </li>
            <li>
                <a href="#servicios">Servicios</a>

            </li>
            <li>

                <a href="#footer">Contacto</a>
            </li>
        </ul>
    </div>
</header>
<div class="container" id="quienes_somos">
    <h2 class="titulo2">¿Quienes somos?</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea odit velit at beatae. Autem recusandae reprehenderit a nihil rerum quisquam. Assumenda adipisci mollitia eaque laborum accusamus fuga dolore molestias quia.
    </p>
</div>

<div class="container" id="servicios">
    <h2 class="titulo2">Servicios</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, tempora voluptatem magnam molestiae commodi iure?</p>
</div>

<body>
    <h2>Computadoras</h2>
    <div class="imgProductos">
        <a href="">
            <img width="150px" src="https://larepublica.pe/resizer/Nf7NyFebkqcx6yknHNrYRavwtSA=/1250x735/top/smart/cloudfront-us-east-1.images.arcpublishing.com/gruporepublica/Y6YFS7RL4ZEB3BXDE56JOIJRTU.jpg" alt="x">
        </a>

        <a href="">
            
            <img width="150px" src="https://larepublica.pe/resizer/Nf7NyFebkqcx6yknHNrYRavwtSA=/1250x735/top/smart/cloudfront-us-east-1.images.arcpublishing.com/gruporepublica/Y6YFS7RL4ZEB3BXDE56JOIJRTU.jpg" alt="x">
        </a>
        <a href="">
            
            <img width="150px" src="https://larepublica.pe/resizer/Nf7NyFebkqcx6yknHNrYRavwtSA=/1250x735/top/smart/cloudfront-us-east-1.images.arcpublishing.com/gruporepublica/Y6YFS7RL4ZEB3BXDE56JOIJRTU.jpg" alt="">
        </a>

        <a href="">

            <img width="150px" src="https://larepublica.pe/resizer/Nf7NyFebkqcx6yknHNrYRavwtSA=/1250x735/top/smart/cloudfront-us-east-1.images.arcpublishing.com/gruporepublica/Y6YFS7RL4ZEB3BXDE56JOIJRTU.jpg" alt="">
        </a>
    </div>
    <footer id="footer">
        <h4>Contacto</h4>
        <a href="tel:+2283433755">
                <img width="50px" src="../assets/img/llamada-telefonica.png" alt="tel">
        </a>
        <a href="mailto:ale.andrade.rangel@gmail.com">
            <img width="50px" src="../assets/img/email.png" alt="mail">
        </a>
    </footer>
</body>
</html>